/* CSS Document */
body{
	
}
.img-rounded{
	width: 100%;
}

.page_title{
	text-align: center;
	
}

/* nav bar custom*/
.navbar-default{
	background-color:#FFFFFF;
	border: none;
	font-family:"poiret-one";
	font-size:16px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#B21315;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
/* End nav bar custom*/

a{
	font-family: "poiret-one";
	color:#000000;
}
a:hover,
a:focus{
	color:#B21315;
	text-decoration: none;
}
.img-circle{
	width: 100%;
	height: 100%;
}

video{
	width: 100%;
}

#page_title{
	font-size: 10em;
	font-family:'abril-fatface';
	font-weight: 10;
	
}

.title_image{
	width: 100%;
	height: 800px;
	background-image:url(images/首页图片2.png);
}

.mainpage_desc{
	font-size:20px;
	font-family: 'poiret-one';
	text-align: center;
}

.copyright{
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

.padding{
	padding-top: 20px;
}

.row{
	padding-top: 20px;
}

.btn{
	font-family: 'poiret-one';
}
.under_image_link{
	font-size: 20px;
	padding-top: 20px;
}